body{
    background-color: rgb(253, 253, 253).;
}

header{
    background:rgb(144, 147, 253).;
    padding:0%;
    width: 100%;
    height:40px;
    margin: 0px;
    position: fixed.;
}

nav{
    background:rgb(144, 147, 253).;
    padding:0%;

}

article{
    background-color: rgb(192, 188, 255).;
}

h1{
    color:whitesmoke(.);
}

a{
    color:blueviolet;
}

img{
    object-fit: fill;
}

footer p{
    text-align: center;
    font-size: 14px;
}