img{
        width: 49%;
        float: left;
        box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
        border-radius: 2%;
        margin: 0.5%;
        transition-property: box-shadow;
        transition-duration: 0.5s;
        transition-timing-function: ease;
}
img:hover{
        box-shadow: 8px 8px 8px rgb(0 0 0 / 10%);
}